<script type="text/javascript" src="/javascript/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/javascript/five_day_forecast.js"></script>
<div class="container-fluid">
  <div class="col-xs-12">
    <% unless session[:msg].blank? %>
      <h5 class="text-center error-message"><%= session[:msg] %></h5>
    <% end %>
    <h1 class="text-center h1">Favorites</h1>
    <h4 class="text-center h4">To remove city form Favorites click on the <i class="fa fa-remove"></i></h4>
  </div>
  <div class="row" id="five_day_container">

  </div>
</div>
