<div class="row-fluid">
  <div class="container-fluid mrg30 span6">
    <h1>Favorites</h1>
      <div class="row-fluid">
        <% session[:fav].each do |fav| %>
         <h4>
           <%="The weather in #{fav[0]}, is #{fav[2]}, and the temperature is #{fav[1]}°C" %>
         </h4>
        <% end %>
      </div>
  </div>
</div>