<div class="row-fluid">
  <div class="container-fluid mrg30 span6">
    <h2>Add favorites</h2>
    <h4>Enter the name of the city you want to add to favorites</h4>
    <div class="row-fluid">
      <div class="col-xs-4">
        <div class="input-group">
          <form action="/favorites_" method="post">
            <input type="text" placeholder="Enter City" style="margin-top: 10px;" name="city">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mrg30 span6">
    <h2>Current favorites</h2>
      <div class="row-fluid">
      </div>
  </div>
</div>