<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center h1">Favorites</h1>
      <h4 class="text-center h4">To remove city form Favorites click on the <i class="fa fa-remove"></i></h4>
    </div>
  </div>
</div>
<div id="five_day_container">
  <favorite :city_name="city_name" :weather="weather" :temp="temp"></favorite>
</div>

<template id="fav_template">
  <div>
    <h2>{{ city_name }}</h2>
    <h5>{{ weather }}</h5>
    <p>{{ temp }}</p>
  </div>
</template>
<script type="text/javascript" src="/javascript/vue.js"></script>
<script src="/javascript/five_day_vue.vue"></script>
</body>
