<div class="row-fluid">
  <div class="col-xs-4 mrg30">
    <div class="input-group">
      <form action="/result" method="post">
          <input type="text" placeholder="Enter City" style="margin: 10px;" name="city">
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
