<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7">
      <div class="well">
        <h4>Enter a city name in the field to check the temperature.</h4>
        <form action="/result" method="post" class="form-horizontal">
          <div class="form-group col-xs-6">
              <input type="text" class="form-control"  name="city">
          </div>
            <button type="submit" class="btn btn-info">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
