<div class="container-fluid">
    <div class="jumbotron">
        <h3 class="h3">Hello and welcome to out website. Here you can check the weather on almost every city in the planet.
        You can create an account and add cities that you frequently check into your Favorites. Our website
        gives you the data you want via <a href="http://openweathermap.org/" target="_blank">OpenWeather</a>-API.
        You can check it out their api is free of charge and good for experimenting.</h3>
    </div>
</div>
