<body>
 <p> <%= session[:current_user].username %></p>
  <div class="row">
    <form action="/result" method="post">
      <div class="span6">
        <input type="text" placeholder="Enter City" style="margin: 10px;" name="city">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="span6"></div>
    </form>
  </div>
</body>