<div class="row-fluid">
  <div class="span8 mrg30 well">
    <h4>Enter a city name in the field to check the temperature.</h4>
    <div class="input-group">
      <form action="/result" method="post">
          <input type="text" placeholder="City..." style="margin: 10px;" name="city">
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
  <% if session[:current_user] != nil %>
  <div class="span4 mrg30 well">
    <h2>Favorites</h2>
    <div class="row-fluid">
      <% session[:fav].each do |fav| %>
          <h4>
            <%="The weather in #{fav[:name]}, is #{fav[:weather]}, and the temperature is #{fav[:temp]}°C" %>
          </h4>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="span4 mrg30 well">
      <h2>Favorites</h2>
        <p>You must be logged in...</p>
    </div>
  <% end %>
</div>
