<div class="container-fluid">
  <div class="row">
  <div class="col-xs-4" style="margin-top: 30px">
    <div class="input-group">
      <form action="/result" method="post">
          <input type="text" placeholder="Enter City" style="margin: 10px;" name="city">
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
  </div>
</div>