<div class="row">
  <div class="col-lg-4">
    <form action="/result" method="post">
      <div class="form-group">
        <input type="text" placeholder="Enter City" class="form-control" name="city">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>