<script type="text/javascript" src="/javascript/vue.js"></script>
<div class="container-fluid">
    <div class="jumbotron">
        <p>Hello and welcome to our website. Here you can check the weather on almost every city in the planet.
        You can create an account and add cities that you frequently check into your Favorites. Our website
        gives you the data you want via <a href="http://openweathermap.org/" target="_blank">OpenWeather</a>-API.
        You can check it out their api is free of charge and good for experimenting.</p>
    </div>
</div>

<div class="container" id="fav-template">
    <post :title="title" :author="author" :content="content"></post>
</div>

  <template id="post-template">
    <div>
      <h1>{{ title }}</h1>
      <h4>{{ author }}</h4>
      <p>{{ content }}</p>
    </div>
  </template>


<script>
  Vue.component('post', {
    template: '#post-template',
    props:['title','author','content']
  });

  var vm = new Vue({
    el: '#fav-template',
    data: {
      author: "blqh",
      title: "test",
      content: "this must be at least longer."
    }

  });
</script>