<div class="row-fluid">
  <div class="col-xs-6 mrg30">
    <form action="/login"  method="post">
      <input type="text" class="mrg10" name="user[username]" placeholder="Username" >
      <input type="password" class="mrg10" name="user[password]" placeholder="Password">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
