<body>
<div class="row">
  <div class="col-xs-6">
    <form action="/login"  method="post">
      <input type="text" id="user" name="user[username]" >
      <input type="password" id="user" name="user[password]">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
</body>