<div class="row">
  <div class="col-xs-5">
  </div>
  <div class="col-xs-4">
    <form action="/login"  method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="user[username]" placeholder="Username" id="weather-web-form">
        <input type="password" class="form-control" name="user[password]" placeholder="Password" id="weather-web-form">
        <button type="submit" id="weather-web-button">LOGIN</button>
      </div>
    </form>
  </div>
</div>
