<p>
  The result from the search returned multiply results. Choose from one of them.
  <%= @results.each_with_index { |val,index |"#{index + 1} #{val[:city]}, #{val[:country]}, #{val[:coord][:lon]}, #{val[:coord][:lat]}" } %>
</p>

<form action="/result" method="post">
  <input type="number" name="index">
  <input type="submit">
</form>