<body>
  <div class="container-fluid">
    <h3>Select from the list with results</h3>
    <form action="/multiple_results" method="post">
      <div class="row">
        <div class="col-xs-8">
          <% session[:result].each  do |val| %>
              <div class="radio">
                <label><input type="radio" name="city_id" value='<%=val[:_id]%>'> <%=("City: #{val[:name]}, Country: #{val[:country]}, Latitude: #{val[:coord][:lat]}, Longitude: #{val[:coord][:lon]}")%></label>
              </div>
          <% end %>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</body>
