<body>
<form action="/multiple_results" method="post">
  <div class="radio">
    <% session[:result].each  do |val| %>
        <label><input type="radio" name="_id" style="margin: 10px"><%= "ID: #{val[:_id]}, City: #{val[:name]}, Country: #{val[:country]}, Latitude: #{val[:coord][:lat]}, Longitude: #{val[:coord][:lon]}"%><br></label>
    <% end %>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
</body>