<div class="container-fluid mrg30 well-small">
  <h3>
    <%  val = session[:single_result] %>
        <%= "The weather in #{val[:name]}, is #{val[:weather]} and the temperature is #{val[:temp]}" %>
  </h3>
    <% if session[:current_user].nil? == false %>
  <form method="post" action="/">
    <input type="hidden" name="fav[name]" value="<%=val[:name]%>">
    <input type="hidden" name="fav[city_id]" value="<%= val[:id]%>">
    <button class="btn btn-danger" type="submit">Add to Favorites</button>
  </form>
    <% end %>
</div>
