<div class="row mrg30">
    <div class="col-xs-6">
      <form action="/signup" method="post">
        <input type="text" class="mrg10" name="user[username]" placeholder="Username" >
        <input type="password" class="mrg10" name="user[password]" placeholder="Password">
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
</div>
