<p>SignUp</p>

<form action="/signup" method="post">
  <input type="text" id="user" name="user[username]" >
  <input type="password" id="user" name="user[password]">
  <button type="submit">Create</button>
</form>