<div class="container-fluid mrg30 well-small">
  <h3>
    <% val = result %>
        <%= "The weather in #{val[:name]} is #{val[:weather]} and the temperature is #{val[:temp]}°C" %>
        <object data="<%= val[:icon]%>" type="image/svg+xml"></object>
  </h3>
        <% unless current_user.nil? %>
          <form method="post" action="/favorites">
            <input type="hidden" name="fav[name]" value="<%=val[:name]%>">
            <input type="hidden" name="fav[city_id]" value="<%= val[:id]%>">
            <button class="btn btn-danger" type="submit">Add to Favorites</button>
          </form>
        <% end %>
</div>
