<p>SignUp</p>


<form action="/signup" method="post">
  <input type="text" id="dm_users" name="dm_users[email]" :value => params[:email]>
  <input type="text" id="dm_users" name="dm_users[password]">
  <button type="submit">Create</button>
</form>